<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://www.jlu.edu.cn/">吉林大学</a></li>
				<li><a href="http://const.jlu.edu.cn/">建设工程学院</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">关于</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">招募令</a></li> 
			</ul>

		
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
